:root {
  --color-dark: #0a1f38;
  --color-dark-middle: #1b2f46;
  --color-dark-light: #2f4056;
  --color-gray: #9da5af;
  --color-green-dark: #819400;
  --color-green-middle: #97ab0d;
  --color-green: #a5bb0c;
  --color-green-light: #b1c909;
  --color-white: #ffffff;
}
